.existingPatientOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.existingPatientDialog {
  position: relative;
  background: white;
  padding: clamp(4px, 0.5vw, 6px);
  width: 1200px;
  height: 570px;
  border-radius: 8px;
  z-index: 2001;
  display: flex;
  flex-direction: column;
}

.existingPatientCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: clamp(0.65rem, 0.8vw, 0.85rem);
  cursor: pointer;
  line-height: 1;
  color: #333;
}

.existingPatientCloseButton:hover {
  color: white;
  background-color: #ff0000;
}

.existingPatientDialog h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: clamp(0.69rem, 1vw, 1.25rem);
  color: #333;
  text-align: left; /* Align title to the left */
}

.searchContainer {
  text-align: left; /* Align the search container to the left */
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
}

.searchContainer input {
  width: 95%; /* Adjust this width as needed */
  padding: clamp(4px, 0.5vw, 6px);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tableContainer {
  border: 2px solid #ccc;
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 20px;
}

.existingPatientDialog table {
  width: 100%;
  border-collapse: collapse;
}

.existingPatientDialog th {
  border: 1px solid #ccc;
  padding: clamp(4px, 0.5vw, 6px);
  text-align: left;
}
.existingPatientDialog td {
  top:15px;
  border: 1px solid #ccc;
  padding: clamp(4px, 0.5vw, 6px);
  text-align: left;
}

.existingPatientDialog th {
  background: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.existingPatientDialog tr:hover {
  background: #f9f9f9;
}

.existingPatientDialog tr.selected {
  background: #cce5ff;
}

.Existingfooter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Existingfooter button {
  padding: clamp(4px, 0.5vw, 6px);
  background-color: grey;
  color: black;
  margin-left: 450px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Existingfooter button:hover {
  background-color: #0056b3;
}
.hidden {
  display: none !important;
}