.admin-refund-modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    top: 50%;
    left: 55%;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    opacity: 0.8;
}

.button-container button:first-of-type {
    background-color: #007bff;
    color: white;
}

.button-container button:nth-of-type(2) {
    background-color: #dc3545;
    color: white;
}

.button-container button:last-of-type {
    background-color: #6c757d;
    color: white;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1004;
}